<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">New Song</h1>
  <div class="col-6 offset-3">
    <form id="add-song-form">
      <label class="form-label" for="title">Title:</label>
      <div class="mb-3">
        <input class="form-control" type="text" id="title" name="title" required>
      </div>
    
      <label class="form-label" for="singerOrType">Singer/Type</label>
      <div class="mb-3">
        <input class="form-control" type="text" id="singerOrType" name="singerOrType" required>
      </div>
    
      <!-- ... -->

      <label class="form-label" for="theme">Theme:</label>
      <div class="mb-3">
        <select id="theme" class="form-control" name="theme" required>
          <option value="">Select a Theme</option>
          <option value="Fidelity">Fidelity</option>
          <option value="Hope">Hope</option>
          <!-- ... -->
          <option value="Christmas">Christmas</option>
        </select>
      </div>
      <!-- ... -->
    
      <label class="form-label" for="lyrics">Lyrics:</label>
      <div class="mb-3">
        <textarea id="lyrics" name="lyrics" required></textarea>
      </div>
    
      <label class="form-label" for="language">Language:</label>
      <div class="mb-3">
        <input class="form-control" type="text" id="language" name="language" required>
      </div>
    
      <label class="form-label" for="youtube_link">YouTube Link:</label>
      <div class="mb-3">
        <input class="form-control" type="text" id="youtube_link" name="youtube_link">
      </div>
    
      <label class="form-label" for="spotify_link">Spotify Link:</label>
      <div class="mb-3">
        <input class="form-control" type="text" id="spotify_link" name="spotify_link">
      </div>
    
      <label class="form-label" for="original_artist">Original Artist:</label>
      <div class="mb-3">
        <input class="form-control" type="text" id="original_artist" name="original_artist">
      </div>
    
      <div class="mb-3">
        <input type="submit" value="Add Song">
      </div>
    </form>
    
    <script>
      document.querySelector('#add-song-form').addEventListener('submit', async (event) => {
        event.preventDefault();
    
        const formData = new FormData(event.target);
    
        const response = await fetch('/songs', {
          method: 'POST',
          body: new URLSearchParams([...formData]),
        });
    
        if (response.ok) {
          window.location.href = '/songs/success';
        } else {
          alert('Error adding song');
        }
      });
    </script>
  </div>
</div>
