<% layout('layouts/boilerplate') %>

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

<style>
  .button-search {
    border: 2px solid black;
    font-weight: 500; /* Updated font weight to slightly bolded */
    color: #333; /* Updated text color to a little darker shade */
  }

  .form-control {
    background-color: #f2f2f2;
    color: black;
    border: none;
  }

  .form-control:hover {
    background-color: #e6e6e6;
  }
  
  h1, h4 {
    padding-bottom: 20px;
  }

  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }

  h4 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    letter-spacing: 1px;
    color: #555;
  }
</style>

<div class="row">
  <h1 class="text-left pl-4">Filter Songs</h1>
  <h4 class="text-left font-weight-bold font-italic text-dark pl-4">Please fill out at least one field.</h4>

  <div class="col-6 pl-4">
    <form action="/songs/filter" method="post" onsubmit="validateForm(event)">
      <label class="form-label" for="title">Title:</label><br>
      <div class="mb-3">
        <input class="form-control" type="text" id="title" name="title" value="">
      </div>
      
      <label class="form-label" for="language">Language:</label><br>
      <div class="mb-3">
        <select class="form-control" id="language" name="language">
          <option value="">Select a Language</option>
          <option value="English">English</option>
          <option value="Spanish">Spanish</option>
        </select>
      </div>
      
      <label class="form-label" for="original_artist">Original Artist:</label><br>
      <div class="mb-3">
        <input class="form-control" type="text" id="original_artist" name="original_artist" value="">
      </div>
      
      <label class="form-label" for="singerOrType">Singer or Type:</label><br>
      <div class="mb-3">
        <select class="form-control" id="singerOrType" name="singerOrType">
          <option value="">Select a Singer/Type</option>
          <% singerOrTypes.forEach(function(singerOrType) { %>
            <option value="<%= singerOrType %>"><%= singerOrType %></option>
          <% }); %>
        </select>
      </div>
      
      <label class="form-label" for="theme">Theme:</label><br>
      <div class="mb-3">
        <select class="form-control" id="theme" name="theme">
          <option value="">Select a Theme</option>
          <% themes.forEach(function(theme) { %>
            <option value="<%= theme %>"><%= theme %></option>
          <% }); %>
        </select>
      </div>
      
      <div class="mb-3">
        <button class="btn btn-outline-dark text-dark button-search">Search</button>
      </div>
    </form>
  </div>
</div>
