<% layout('layouts/boilerplate') %>


<style>
  .card {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
  }

  .card-title {
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  }

  .card-text {
    color: #555;
    font-family: 'Roboto', sans-serif;
  }

  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px 0;
  }
</style>

<h1>Filtered Songs</h1>

<ul>
  <% songs.forEach(song => { %>
    <div class="card">
      <div class="col-md-8">
        <h5 class="card-title">
          <a href="/songs/<%= song._id %>" style="color: black; text-decoration: none;"><%= song.title %></a>
        </h5>
        <p class="card-text"><%= song.singerOrType %></p>
      </div>
    </div>
  <% }); %>
</ul>
