<% layout('layouts/boilerplate') %>
<%- include('./navbar') %>
<% if (username) { %>
  <h1>Hello <%= username %></h1>
<% } else { %>
  <h1>Welcome to the Home Page</h1>
<% } %>

<div>
  <a href="/songs/filter">Search for a Song</a>
</div>

<div>
  <a href="/songs/add">Add a Song</a>
</div>
