<% layout('layouts/boilerplate') %>

<style>
  .home-heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .home-message {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    letter-spacing: 1px;
    color: #555;
  }
  
  .song-item {
    margin: 10px 0;
  }
</style>

<input type="text" id="search-input" placeholder="Search Songs">

<div id="search-results">
  <!-- Search results will be appended here -->
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
$(document).ready(function(){
  $('#search-input').on('input', function(e){
    const queryText = e.target.value;
    if (!queryText) {
      $('#search-results').empty();
      return;
    }
    $.ajax({
      url: '/songs/search',
      type: 'GET',
      data: { title: queryText },
      success: function(data){
        $('#search-results').empty();
        data.forEach(function(song){
          $('#search-results').append('<div class="song-item">' + song.title + '</div>');
        });
      },
      error: function(err){
        console.error('Error occurred during search:', err);
      }
    });
  });
});
</script>
